.homepage-headersection img{
    width: 100%;
    height: 300px;
}
.homepage-bodysection{
    background-color: rgb(3, 20, 58);
    padding: 50px;
        display: flex;
        flex-wrap:   wrap ;
        padding-left: 200px;
     
    
}

